<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23231998668-0crn79n2465ef185bm5spoe707a0p8hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23231998668-0crn79n2465ef185bm5spoe707a0p8hr</string>
	<key>API_KEY</key>
	<string>AIzaSyCTomWzOutykaHBk_XF-2SfgZ7Cuyk7IXI</string>
	<key>GCM_SENDER_ID</key>
	<string>23231998668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terminal</string>
	<key>PROJECT_ID</key>
	<string>crypto-terminal-f09dd</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-terminal-f09dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23231998668:ios:39742d70bbd7540936f069</string>
</dict>
</plist>